.alt-header {

  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: var(--horizontal-space);
  justify-content: space-between;

}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
  margin: 0 auto;
}

.alt-header__column {
  width: 33%;
  display: flex;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

/* 아래랑 차이가 있음...아래는 양옆에 여백이 많고 
위에는 양옆이 멀리 떨어져있음 */
/* .alt-header__column {
  margin: 0 auto;
} */
.alt-header__column span:last-child {
  margin-left: 20px;
}