.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}

.nav_dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 22px;
  bottom: 19px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }

  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateGear 2s linear infinite;
}